* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.cover {
  background-image: url(../images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.counter {
  user-select: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #070508;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
.counter .counter-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  gap: 1rem;
}
.counter .counter-content .counter-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #070508;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.counter .counter-content .counter-box h3 {
  font-size: 1.5rem;
  font-weight: 900;
  color: #fff;
}
.counter .counter-content .counter-box p {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
header .logo {
  position: relative;
  color: #fff;
  font-size: 28px;
  text-decoration: none;
  font-weight: 600;
}
header nav {
  position: relative;
}
header nav ul {
  position: relative;
  display: flex;
  gap: 12px;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #ff0083;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 70px;
}
section .contentBx {
  position: relative;
  max-width: 800px;
  z-index: 1000;
  text-align: center;
}
section .contentBx small {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(90deg, #4ca5ff 2.34%, #b673f8 100.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3px;
}
section .contentBx h2 {
  text-transform: capitalize;
  color: white;
  font-size: 3rem;
  font-weight: 900;
  margin-top: 1rem;
}
section .contentBx h2 .imp {
  background: linear-gradient(90deg, #4ca5ff 2.34%, #45A60A 100.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section .contentBx p {
  font-size: 1.25rem;
  font-weight: 400;
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;
  color: #5B6478;
  line-height: 1.3;
  text-align: center;
}
section .contentBx .btn {
  display: inline-block;
  outline: none;
  border: none;
  padding: 1rem 2rem;
  background: linear-gradient(90deg, #4ca5ff 2.34%, #45A60A 100.78%);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem;
  cursor: pointer;
}
section .imgBx img {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin-top: 100px;
  z-index: 2;
}

.faq-section {
  background-color: #070508;
  padding: 5rem;
}
.faq-section h2 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 2rem;
  color: white;
  text-align: center;
}
.faq-section h2 .imp {
  background: linear-gradient(90deg, #4ca5ff 2.34%, #45A60A 100.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.faq-section ul {
  list-style: none;
  padding: 0;
}
.faq-section ul .question {
  margin-bottom: 1rem;
  width: 80%;
  margin: 1rem auto;
}
.faq-section ul .question button {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: rgb(13, 17, 23);
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.faq-section ul .question button[aria-expanded=true] {
  background-color: #2e2e2e;
}
.faq-section ul .question .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  color: white;
}
.faq-section ul .question .answer[aria-expanded=true] {
  padding: 2rem;
  transition: max-height 0.3s ease;
}

.registration-container {
  background-color: #070508;
  padding: 5rem;
}
.registration-container h2 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 2rem;
  color: white;
  text-align: center;
}
.registration-container h2 .imp {
  background: linear-gradient(90deg, #4ca5ff 2.34%, #45A60A 100.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.registration-container .form {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  gap: 50px;
}
@media screen and (max-width: 768px) {
  .registration-container .form {
    width: 90%;
  }
}
.registration-container .form .img-holder {
  width: 48.7%;
}
@media screen and (max-width: 768px) {
  .registration-container .form .img-holder {
    width: 100%;
  }
}
.registration-container .form .img-holder img {
  width: 100%;
  height: 100%;
}
.registration-container .form .form-holder {
  width: 48.7%;
}
@media screen and (max-width: 768px) {
  .registration-container .form .form-holder {
    width: 100%;
  }
}
.registration-container .form .form-holder .input-holder {
  margin-bottom: 1rem;
}
.registration-container .form .form-holder .input-holder input {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: rgb(13, 17, 23);
}
.registration-container .form .form-holder .btn-holder {
  margin-top: 1rem;
}
.registration-container .form .form-holder .btn-holder button {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: rgb(13, 17, 23);
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}
.registration-container .form .form-holder .btn-holder button:hover {
  background-color: rgb(10, 12, 15);
}
.registration-container .form .form-holder .btn-holder button:active {
  transform: scale(0.98);
}

footer {
  margin-bottom: 5rem;
  background-color: #1e1e28;
  padding: 1rem;
  text-align: center;
  font-size: 14px;
  color: white;
}

@media (max-width: 991px) {
  section {
    flex-direction: column;
    padding-top: 150px;
    height: auto;
  }
  section .contentBx {
    max-width: 100%;
  }
  .faq-section {
    padding: 4rem 0;
  }
  .registration-container {
    padding: 4rem 0;
  }
}
@media (max-width: 767px) {
  header {
    padding: 20px 50px;
  }
  section {
    flex-direction: column;
    padding: 120px 50px 100px;
    height: auto;
  }
  section .contentBx h2 {
    font-size: 40px;
  }
  section .contentBx p {
    font-size: 16px;
  }
  section .contentBx .countdown .time {
    font-size: 30px;
    min-width: 70px;
    margin-right: 5px;
  }
  section .contentBx .countdown .time span {
    font-size: 14px;
  }
  .faq-section h2 {
    font-size: 32px;
  }
  .registration-container .form {
    flex-direction: column;
    gap: 2rem;
    width: 80%;
  }
  .registration-container h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 425px) {
  .cover {
    background-position: center;
  }
  header {
    padding: 20px 20px;
  }
  section {
    padding: 100px 0px 50px;
  }
  section .contentBx small {
    font-size: 10px;
  }
  .faq-section ul .question {
    width: 90%;
  }
  .registration-container .form {
    width: 90%;
  }
  .counter-box h3 {
    font-size: 18px !important;
  }
  .counter-box p {
    font-size: 12px !important;
  }
  footer {
    margin-bottom: 4.3rem;
  }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(10, 12, 15);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}